Repository vesper0990/vesper_wordki: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-client.yml, azure-pipelines-server.yml

azure-pipelines-client.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DockerCompose@0
    displayName: Build
    inputs:
      containerregistrytype: Container Registry
      dockerRegistryEndpoint: docker-hub-connection
      dockerComposeFile: client/build/docker/docker-compose.build.yml
      action: Run a Docker Compose command
  ...

azure-pipelines-server.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: .Net Core Restore
    inputs:
      command: restore
      projects: '**/*.csproj'
  - task: DotNetCoreCLI@2
    displayName: .Net Core Build
    inputs:
      command: build
      projects: '**/*.csproj'
  ...

change publishing tests
  client/build/docker/docker-compose.test.yml
  client/src/karma.conf.js
Due: azure-pipelines-client.yml

turn off test reporting
  client/package-lock.json
  client/package.json
  client/src/karma.conf.js
Due: azure-pipelines-client.yml

Update azure-pipelines-client.yml for Azure Pipelines
  azure-pipelines-client.yml
Due: none

Fix dialogs (#14)
  azure-pipelines-client.yml
  client/.gitignore
  client/.vscode/settings.json
  client/Dockerfile
  client/Dockerfile.production
  client/build/docker/docker-compose.build.yml
  client/build/docker/docker-compose.release.yml
  client/build/docker/docker-compose.test.yml
  client/package-lock.json
  client/package.json
  client/src/app/app-routing.module.ts
  client/src/app/group-creator/group-creator-routing.module.ts
  client/src/app/group-creator/group-creator.component.html
  client/src/app/group-creator/group-creator.component.scss
  client/src/app/group-creator/group-creator.component.spec.ts
  client/src/app/group-creator/group-creator.component.ts
  client/src/app/group-creator/group-creator.module.ts
  client/src/app/group-creator/services/group-creator/group-creator.service.ts
  client/src/app/group-details/group-details.component.html
  client/src/app/groups-list/groups.component.html
  client/src/app/groups-list/groups.component.ts
  client/src/app/groups-list/services/groups-list/groups-list.service.ts
  client/src/app/lesson/components/controller/controller.component.scss
  client/src/app/share/components/edit-group-dialog/edit-group-dialog.component.html
  client/src/app/share/components/edit-group-dialog/edit-group-dialog.component.scss
  client/src/app/share/components/edit-group-dialog/edit-group-dialog.component.ts
  client/src/app/share/components/edit-word-dialog/edit-word-dialog.component.html
  client/src/app/share/components/edit-word-dialog/edit-word-dialog.component.scss
  client/src/app/share/components/edit-word-dialog/edit-word-dialog.component.ts
  client/src/karma.conf.js
Due: azure-pipelines-client.yml

improvement client build
  client/.dockerignore
  client/.gitignore
  client/.vscode/settings.json
  client/Dockerfile.production
  client/package-lock.json
  client/package.json
  client/src/karma.conf.js
Due: azure-pipelines-client.yml

improve e2e tests
  client/Dockerfile.production
  client/build/docker/docker-compose.e2e.yml
  client/build/docker/docker-compose.uitest.yml
  testsUi/Wordki.Tests.UI/.dockerignore
  testsUi/Wordki.Tests.UI/Dockerfile
  testsUi/Wordki.Tests.UI/Register/BasicRegisterTest.cs
  testsUi/Wordki.Tests.UI/UITestBase.cs
  testsUi/Wordki.Tests.UI/Wordki.Tests.UI.csproj
  testsUi/Wordki.Tests.UI/docker-compose.yml
Due: azure-pipelines-client.yml

change apiurl
  client/src/environments/environment.e2e.ts
Due: azure-pipelines-client.yml

change dockerfile
  client/Dockerfile.production
Due: azure-pipelines-client.yml

fix
  client/package.json
Due: azure-pipelines-client.yml

turn off tests
  testsUi/Wordki.Tests.UI/Cards/AddingNewCardTest.cs
  testsUi/Wordki.Tests.UI/Cards/BasicCardsTest.cs
  testsUi/Wordki.Tests.UI/Cards/RemovingCardTest.cs
  testsUi/Wordki.Tests.UI/Cards/UpdateCardTest.cs
  testsUi/Wordki.Tests.UI/Dashboard/BasicDashbaordTest.cs
  testsUi/Wordki.Tests.UI/Dashboard/NavigateToGroupsTest.cs
  testsUi/Wordki.Tests.UI/Dashboard/NavigateToLessonTest.cs
  testsUi/Wordki.Tests.UI/Groups/AddingNewGroupTest.cs
  testsUi/Wordki.Tests.UI/Groups/BasicGroupsTest.cs
  testsUi/Wordki.Tests.UI/Groups/DisplayingGroupsTest.cs
  testsUi/Wordki.Tests.UI/Groups/DisplayingNoGroupsInfoTest.cs
  testsUi/Wordki.Tests.UI/Groups/UpdatingGroupTest.cs
  testsUi/Wordki.Tests.UI/Home/BasicHomeTest.cs
  testsUi/Wordki.Tests.UI/Login/BasicLoginTest.cs
  testsUi/Wordki.Tests.UI/Register/BasicRegisterTest.cs
  testsUi/Wordki.Tests.UI/Register/RegisterFormFillingTest.cs
Due: none

test
  azure-pipelines-client.yml
  testsUi/Wordki.Tests.UI/Dockerfile
Due: none

test yarn
  client/Dockerfile.production
  client/build/docker/docker-compose.local.yml
  client/yarn.lock
Due: azure-pipelines-client.yml

fix docker files
  client/build/docker/Dockerfile
  client/build/docker/docker-compose.e2e.yml
  client/build/docker/docker-compose.local.yml
  client/build/docker/docker-compose.release.yml
  client/build/docker/docker-compose.test.yml
  client/build/docker/docker-compose.yml
  scripts/all-run.sh
  scripts/client-run.sh
  scripts/client-test.sh
  scripts/server-run.sh
  scripts/server-test.sh
  server/build/docker/Dockerfile
  server/build/docker/docker-compose.Development.yml
  server/build/docker/docker-compose.E2E.yml
  server/build/docker/docker-compose.Production.yml
  server/build/docker/docker-compose.build.yml
  server/build/docker/docker-compose.database.yml
  server/build/docker/docker-compose.local.yml
  server/build/docker/docker-compose.release.yml
  server/build/docker/docker-compose.test.yml
  server/build/docker/secrets.Development.env
  server/build/docker/secrets.E2E.env
  server/build/docker/secrets.Production.env
  server/src/Wordki.Api/Dockerfile
  server/src/Wordki.Api/Dockerfile.Development
  server/src/Wordki.Api/Dockerfile.Production
  server/tests/Wordki.Tests.E2E/Dockerfile
  server/tests/Wordki.Tests.E2E/appsettings.Test.json
Due: azure-pipelines-client.yml, azure-pipelines-server.yml

Update azure-pipelines-server.yml for Azure Pipelines
  azure-pipelines-server.yml
Due: none

fix tests
  scripts/server-test.sh
  server/build/docker/docker-compose.test.yml
  server/tests/Wordki.Tests.E2E/appsettings.Test.json
Due: azure-pipelines-server.yml

fix server
  server/build/docker/Dockerfile
  server/build/docker/docker-compose.release.yml
  server/src/Wordki.Api/Program.cs
Due: azure-pipelines-server.yml

fix server
  server/build/docker/Dockerfile
Due: azure-pipelines-server.yml

fix server
  server/build/docker/Dockerfile
  server/build/docker/docker-compose.local.yml
Due: azure-pipelines-server.yml

fix server tests
  server/build/docker/docker-compose.release.yml
  server/build/docker/docker-compose.test.yml
  server/tests/Wordki.Tests.E2E/Wordki.Tests.E2E.csproj
Due: azure-pipelines-server.yml

cleaning client
  client/Dockerfile
  client/Dockerfile.production
  client/Dockerfile.ui
  client/Dockerfile2
  client/build/docker/Dockerfile
  client/src/app/dashboard/dashboard.module.ts
  client/src/app/group-details/group-details.module.ts
  client/src/app/groups-list/groups.module.ts
  client/src/app/lesson/lesson.module.ts
  client/src/app/user/user.module.ts
  client/src/environments/environment.e2e.ts
  client/src/environments/environment.prod.ts
  client/src/environments/environment.ts
Due: azure-pipelines-client.yml

cleaning client (#16)
  client/Dockerfile
  client/Dockerfile.production
  client/Dockerfile.ui
  client/Dockerfile2
  client/build/docker/Dockerfile
  client/src/app/dashboard/dashboard.module.ts
  client/src/app/group-details/group-details.module.ts
  client/src/app/groups-list/groups.module.ts
  client/src/app/lesson/lesson.module.ts
  client/src/app/user/user.module.ts
  client/src/environments/environment.e2e.ts
  client/src/environments/environment.prod.ts
  client/src/environments/environment.ts
Due: azure-pipelines-client.yml

fix errors
  client/src/app/group-details/group-details-routing.module.ts
  client/src/app/group-details/group-details.module.ts
Due: azure-pipelines-client.yml

fix ui tests
  testsUi/Wordki.Tests.UI/PageObjectModels/Page.cs
Due: none

Path conditions:
  azure-pipelines-client.yml: any of: client
  azure-pipelines-server.yml: any of: server
