Repository vesper0990/vesper_wordki: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-client.yml, azure-pipelines-server.yml

azure-pipelines-client.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DockerCompose@0
    displayName: Build
    inputs:
      containerregistrytype: Container Registry
      dockerRegistryEndpoint: docker-hub-connection
      dockerComposeFile: client/build/docker/docker-compose.build.yml
      action: Run a Docker Compose command
  ...

azure-pipelines-server.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DockerCompose@0
    displayName: Build
    inputs:
      containerregistrytype: Container Registry
      dockerRegistryEndpoint: docker-hub-connection
      dockerComposeFile: server/build/docker/docker-compose.build.yml
      action: Run a Docker Compose command
  ...

tunr on e2e tests
  azure-pipelines-client.yml
Due: none

store refactoring
  client/build/docker/run
  client/src/app/app.module.ts
  client/src/app/dashboard/services/dashbaord-http/dashboard-http.service.mock.ts
  client/src/app/dashboard/services/dashboard/dashboard.service.spec.ts
  client/src/app/dashboard/services/dashboard/dashboard.service.ts
  client/src/app/dashboard/store/actions.ts
  client/src/app/dashboard/store/effects.ts
  client/src/app/dashboard/store/reducer.ts
  client/src/app/dashboard/store/spec/actions.spec.ts
  client/src/app/dashboard/store/spec/effects.spec.ts
  client/src/app/group-details/store/actions.ts
  client/src/app/group-details/store/effects.ts
  client/src/app/group-details/store/reducer.ts
  client/src/app/group-details/store/spec/effects.spec.ts
  client/src/app/groups-list/store/actions.ts
  client/src/app/groups-list/store/effects.ts
  client/src/app/lesson/store/dist/actions.js
  client/src/app/lesson/store/dist/effects.js
  client/src/app/lesson/store/dist/reducer.js
  client/src/app/lesson/store/dist/selectors.js
  client/src/app/lesson/store/dist/state.js
  client/src/app/lesson/store/effects.ts
  client/src/app/share/components/error/error.component.spec.ts
  client/src/app/share/components/error/services/error/error-service.ts
  client/src/app/share/components/error/services/error/error.service.spec.ts
  client/src/app/store/actions.ts
  client/src/app/store/effects.ts
  client/src/app/store/reducer.ts
  client/src/app/store/state.ts
  client/src/karma.conf.js
  scripts/e2e-test.sh
  testsUi/Wordki.Tests.UI/UITestBase.cs
Due: azure-pipelines-client.yml

add configuration to e2e tests
  client/build/docker/docker-compose.e2e.yml
  testsUi/Wordki.Tests.UI/UITestBase.cs
Due: azure-pipelines-client.yml

remove old test
  testsUi/Wordki.Tests.UI/Register/BasicRegisterTest.cs
Due: none

fix tests
  server/tests/Wordki.Tests.E2E/Feature/Group/Add/AddGroupWithWords.cs
Due: azure-pipelines-server.yml

Update azure-pipelines-client.yml for Azure Pipelines
  azure-pipelines-client.yml
Due: none

fix uitests
  testsUi/Wordki.Tests.UI/UITestBase.cs
Due: none

fix tests
  testsUi/Wordki.Tests.UI/UITestBase.cs
  testsUi/Wordki.Tests.UI/Wordki.Tests.UI.csproj
Due: none

fix pipeline
  azure-pipelines-client.yml
Due: none

renaming
  server/src/Wordki.Api/Domain/Card.cs
  server/src/Wordki.Api/Domain/Group.cs
  server/src/Wordki.Api/Featuers/Card/Add/AddCardCommandHandler.cs
  server/src/Wordki.Api/Featuers/Card/Delete/DeleteCardCommandHandler.cs
  server/src/Wordki.Api/Featuers/Card/GetAll/GetAllQuery.cs
  server/src/Wordki.Api/Featuers/Card/GetAllRepeat/GetAllRepeatQueryHandler.cs
  server/src/Wordki.Api/Featuers/Card/GetCardDetails/GetCardDetailsQueryHandler.cs
  server/src/Wordki.Api/Featuers/Card/GetCount/GetCountQueryHandler.cs
  server/src/Wordki.Api/Featuers/Card/GetLastAdded/GetLastAddedQueryHandler.cs
  server/src/Wordki.Api/Featuers/Card/GetNextRepeat/GetNextRepeatQueryHandler.cs
  server/src/Wordki.Api/Featuers/Card/Update/UpdateCardCommandHandler.cs
  server/src/Wordki.Api/Featuers/Group/Add/AddGroupCommandHandler.cs
  server/src/Wordki.Api/Featuers/Group/GetCount/GetCountQueryHandler.cs
  server/src/Wordki.Api/Featuers/Group/GetDetails/GetDetailsQuery.cs
  server/src/Wordki.Api/Featuers/Group/GetGroups/GetGroupsQueryHandler.cs
  server/src/Wordki.Api/Featuers/Group/Update/UpdateGroupCommandHandler.cs
  server/src/Wordki.Api/Featuers/Lesson/Answare/AnswerCommnadHandler.cs
  server/src/Wordki.Api/Featuers/Lesson/GetTodayCards/GetTodayCardsQueryHandler.cs
  server/src/Wordki.Api/Featuers/Lesson/GetTodayCardsCount/GetTodayCardsCountQueryHandler.cs
  server/src/Wordki.Api/Repositories/EntityFrameworkRepositories/DatabaseInitializer.cs
  server/src/Wordki.Api/Repositories/EntityFrameworkRepositories/WordkiDbContext.cs
  server/src/Wordki.Api/Responses/ResponsesExtensions.cs
  server/src/Wordki.Api/Services/INextRepeatCalculator.cs
  server/tests/Wordki.Tests.E2E/Feature/Card/Add/UserAddWord.cs
  server/tests/Wordki.Tests.E2E/Feature/Card/Delete/UserDeleteCard.cs
  server/tests/Wordki.Tests.E2E/Feature/Card/GetCount/UserGetCount.cs
  server/tests/Wordki.Tests.E2E/Feature/Card/GetLastAdded/UserGetLastAdded.cs
  server/tests/Wordki.Tests.E2E/Feature/Card/Update/UserUpdateWord.cs
  server/tests/Wordki.Tests.E2E/Feature/Group/Add/AddGroupWithWords.cs
  server/tests/Wordki.Tests.E2E/Feature/Group/Add/AddGroupWithoutWords.cs
  server/tests/Wordki.Tests.E2E/Feature/Group/Delete/UserCanDeleteGroup.cs
  server/tests/Wordki.Tests.E2E/Feature/Group/GetCount/UserGetCount.cs
  server/tests/Wordki.Tests.E2E/Feature/Group/Update/UserUpdateGroup.cs
  server/tests/Wordki.Tests.E2E/Feature/TestBase.cs
  server/tests/Wordki.Tests.E2E/Feature/Utils.cs
  server/tests/Wordki.Tests.E2E/Wordki.Tests.E2E.csproj
Due: azure-pipelines-server.yml

add ssl to db connection string
  server/src/Wordki.Api/Repositories/EntityFrameworkRepositories/ConnectionStringProvider.cs
Due: azure-pipelines-server.yml

fix connection string
  server/src/Wordki.Api/Repositories/EntityFrameworkRepositories/ConnectionStringProvider.cs
  server/src/Wordki.Api/Wordki.Api.csproj
Due: azure-pipelines-server.yml

fix connection string
  server/src/Wordki.Api/Repositories/EntityFrameworkRepositories/ConnectionStringProvider.cs
Due: azure-pipelines-server.yml

fix tests
  server/src/Wordki.Api/Featuers/Card/Add/AddCardCommandHandler.cs
  server/src/Wordki.Api/Featuers/Card/Update/UpdateCardCommandHandler.cs
  server/src/Wordki.Api/Featuers/Lesson/Answare/AnswerCommand.cs
  server/src/Wordki.Api/Featuers/Lesson/Answare/AnswerCommnadHandler.cs
  server/src/Wordki.Api/Responses/CardDetailsDto.cs
  server/src/Wordki.Api/Responses/ResponsesExtensions.cs
  server/src/Wordki.Api/Services/INextRepeatCalculator.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/AddTests/AddSucess/AddSuccessTests.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/AddTests/AddSucess/Context/AddSuccessContext.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/DeleteTests/Context/DeleteSuccessContext.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/DeleteTests/Context/EmptyCard.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/DeleteTests/DeleteSuccessTests.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/QueryTests/GetAllTests/Context/GetAllContext.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/QueryTests/GetAllTests/Context/NoCards.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/QueryTests/GetAllTests/Context/SingleCard.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/QueryTests/GetAllTests/GetAllTests.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/QueryTests/GetCountTests/Context/GetCountContext.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/QueryTests/GetCountTests/Context/NoCards.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/QueryTests/GetCountTests/Context/SingleCardNoRepeats.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/QueryTests/GetCountTests/Context/SingleCardOneSideRepeat.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/QueryTests/GetCountTests/Context/SingleCardTwoSidesRepeats.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/QueryTests/GetCountTests/GetCountTests.cs
  server/tests/Wordki.Tests.E2E/Feature/CardTests/UpdateTests/UpdateSuccessTests.cs
  server/tests/Wordki.Tests.E2E/Feature/LessonTests/AnswerTests/AnswareTests.cs
  server/tests/Wordki.Tests.E2E/Feature/LessonTests/StartTests/Context/StartLesson.cs
  server/tests/Wordki.Tests.E2E/Feature/LessonTests/StartTests/Context/StartSuccessContext.cs
  server/tests/Wordki.Tests.E2E/Feature/LessonTests/StartTests/StartTests.cs
Due: azure-pipelines-server.yml

Path conditions:
  azure-pipelines-client.yml: any of: client
  azure-pipelines-server.yml: any of: server
